
<a href="posts/new"><button type="button" class="btn btn-primary btn-lg">submit a post</button></a>

<% @posts.each_with_index do |post, i| %>
	<h3><%=	"#{i+1}. "%><%= link_to post.title, post_path(post) %></h3>
	<small>submitted by <%= post.user.username %> <%= time_ago_in_words(post.created_at) %> ago</small>
	<%= link_to "#{post.comment_total.count} comments", post_path(post) %>
<% end %>
