<% if !@post.url.blank? %>
<h3><fieldset><%= link_to @post.title, @post.url %></fieldset></h3>
<% else %>
<fieldset><%= @post.title %></fieldset>
<% end %>

<fieldset>
	<%= @post.body %>
</fieldset>

<small><%= @post.karma %> points by <%= link_to @post.user.username, user_path(@post.user) %> <%= time_ago_in_words(@post.created_at) %> ago</small>

<small><%= link_to "upvote ", upvote_post_path(@post), method: :put %></small>
<small><%= link_to "downvote ", downvote_post_path(@post), method: :put %></small>

<% if @post.user_id == current_user.id %>
<small><%= link_to "edit post", edit_post_path(@post) %></small>
<% end %>

<br><br>


<h3>all <%= @post.comment_total.size %> comments</h3>

<%= form_for [@post, Comment.new] do |f| %>
<textarea class="form-control" rows="3" placeholder="add a comment"
<%= f.text_area :body %>
</textarea>
<br>
<%= f.submit "Submit comment" %>
<% end %>

<div class="container">

	<ul>
		<%= render(partial: 'comments/comment', collection: @post.comments) %>
	</ul>

</div>




