<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>NotReddit</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <div id="container">
    <nav>
      <div class= "navbar navbar-default navbar-fixed-right">
        <h1 class= "not-reddit-logo">
          <%= link_to "NotReddit", root_path %>
        </h1>
        <p class= "navbar-right">
          <% if user_signed_in? %>
          Logged in as <strong><%= current_user.username %></strong> |
          <%= link_to "Home", root_path %> | 
          <%= link_to "Edit profile", edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to "Log in", new_user_session_path %> | 
          <%= link_to "Log in with Twitter", user_twitter_omniauth_authorize_path %> | 
          <%= link_to "Sign up", new_user_registration_path %>
          <% end %>
        </p>
      </div>
    </nav>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</head>

<body>
  <div class="container">
    <%= yield %>
  </div> 
</body>
</html>
